h1 {
  margin: 30px 0 5px 0;
  font-size: 28px;
}
h2 {
  margin-bottom: 40px;
}
input {
  margin: 10px 0;
  font-size: 2px;
  border-radius: 10px;
  display: block;
  width: 90%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 45px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
input::placeholder {
  color: gray;
}

button {
  margin-top: 20px;
  background: #1da1f2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
  display: block;
  width: 90%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

button:hover {
  box-shadow: none;
}
